[Bb]in/
[Oo]bj/
build
output
.gradle
.tmp
*.suo
*.user
*.sln.docstates
*.cache
/.idea/*.iml
/.idea/*.xml
/.idea/.idea.*/*.iml
/.idea/.idea.*/.idea/*.xml
.vs
_ReSharper*
_dotTrace*
packages/
intelligentcomments.nuspec